@(sugs:Seq[Suggestion], form:Form[Suggestion])(implicit messages: Messages)
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Round About - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("startbootstrap-round-about-gh-pages/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="@routes.Assets.at("startbootstrap-round-about-gh-pages/css/round-about.css")" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="@routes.MainController.homepage()">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">About Game Face
        <small></small>
      </h1>
      <p>Game Face was founded in 2005 by Marianne Pearson who knows nothing about video games. The business is struggling
      please help her to get back on track!</p>

    </div>
    <!-- /.container -->
    <!-- google maps -->
      <head>
        <style>
       #map {
         height: 400px;
         width: 100%;
       }
    </style>
      </head>
      <body>
        <h3>How to Find Us</h3>
        <div id="map"></div>
        <script>
      function initMap() {
        var mediacity = {lat: 53.473297, lng: -2.297744};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: mediacity
        });
        var marker = new google.maps.Marker({
          position: mediacity,
          map: map
        });
      }
    </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUZsezsHKJXIG3w6y48jg9EurlR02HLcg&callback=initMap">
    </script>
      </body>

      @main("CDs") {
          <h1>Suggestions</h1>
          <table>
              <thead>
                  <tr><th>Name</th><th>Suggestion</th></tr>
              </thead>
              <tbody>
              @for(sug <- sugs) {
                  <tr><td>@sug.name</td>
                      <td>@sug.suggest</td></tr>
              }
              </tbody>
          </table>
          <hr/>

          @helper.form(routes.MainController.createSuggestion()) {
              @helper.inputText(form("name"), 'label-> "Name" , 'showConstraints -> false)
              @helper.inputText(form("suggest"), '_label -> "Suggestion" , '_showConstraints -> false)
              <button type="submit">Create Suggestion</button>
          }
      }


    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../../public/startbootstrap-round-about-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="../../public/startbootstrap-round-about-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
