@(suggestions: Seq[Suggestion], form:Form[Suggestion])(implicit messages:Messages)

@main("Suggestions") {
    <h1>Suggestions</h1>
    <table>
        <thead>
            <tr><th>Name</th><th>Suggestion</th></tr>
        </thead>
        <tbody>
        @for(sug <- suggestions) {
            <tr><td>@sug.name</td>
                <td>@sug.suggest</td></tr>
        }
        </tbody>
    </table>
    <hr/>

    @helper.form(routes.MainController.createSuggestion()) {
        @helper.inputText(form("name"), 'label -> "Name", 'showConstraints -> false)
        @helper.inputText(form("suggest"), '_label -> "Suggestions", '_showConstraints -> false)
        <button type="submit">Create CD</button>
    }
}